<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="/assets/css/all.css">
  <!-- Google fonts - Popppins for copy-->
  <link rel="stylesheet" href="/assets/css/fonts.googleapis.css">
  <!-- orion icons-->
  <link rel="stylesheet" href="/assets/css/orionicons.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="/assets/css/style.violet.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <link rel="stylesheet" href="/admin/css/toastr.min.css">
  <style>
    .clicksub:hover a {
      color: white !important;
    }
  </style>
</head>

<body>

  {{{body}}}

  <!-- JavaScript files-->
  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/bootstrap-material-design.min.js"></script>
  <script src="/assets/js/front.js"></script>
  <script src="/assets/js/toastr.min.js"></script>
  <script src="/assets/js/initToaster.js"></script>
</body>

</html>